<div class='devise-container devise-edit-user'>
  <h2>Registrate</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, 'Nombre' %>
      <%= f.text_field :name, autocomplete: 'name', required: true, placeholder: 'Ingresa tu nombre' %>
    </div>

    <div class="field">
      <%= f.label :phone, 'Celular' %>
      <%= f.telephone_field :phone, autocomplete: 'phone', required: true, placeholder: 'Ingresa tu número telefonico' %>
    </div>

    <div class="field">
      <%= f.label :birthdate, 'Fecha de nacimiento' %>
      <%= f.date_select :birthdate, autocomplete: 'birthdate', required: true, placeholder: 'Ingresa tu fecha de nacimiento', start_year: 1900 %>
    </div>

    <div class="field">
      <%= f.label :role, '¿Cómo usaras TechClic? ' %>
      <%= f.select :role, [["Comprador", "buyer"], ["Vendedor", "seller"]], {} %>
    </div>
    
    <div class="field">
      <%= f.label :email, 'Correo' %>
      <%= f.email_field :email, autocomplete: "email", required: true, placeholder: 'Ingresa tu correo electronico' %>
    </div>

    <div class="field">
      <%= f.label :password, 'Contraseña'%>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres minimos)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", required: true, placeholder: 'Ingresa una contraseña' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirma tu contraseña' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, placeholder: 'Confirma tu contraseña' %>
    </div>

    <div class="actions">
      <%= f.submit 'Registrarse' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
