<div class="options-menu inactive menu" id="menu">
  <% if !user_signed_in? %>
    <div>
      <%= link_to 'Iniciar Sesión', new_user_session_path %>
      <%= link_to 'Registrarse', new_user_registration_path %>
    </div>
  <% else %>
    <div>
    <%= link_to "Mis datos", edit_user_registration_path %>
    <%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete } %>
    </div>
    <% if current_user.seller? %>
      <div class="user-options">
        <%= link_to "Registrar producto", new_product_path %>
        <%= link_to "Mis productos", my_products_path %>
        <% if current_user.commerces.size < 1 || !current_user.commerces.first.persisted?%>
          <%= link_to "Registrar comercio", new_user_commerce_url(current_user) %>
        <% else %>
          <%= link_to "Ver comercio", commerce_url(current_user.commerces.first) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<script>
  function menuInteraction() {
    const menuIcon = document.getElementById('menu-icon')
    const menu = document.getElementById('menu')

    menuIcon.addEventListener('click', ()=> {
      menu.classList.contains('inactive') ? menu.classList.remove('inactive') : menu.classList.add('inactive')
    })
  }

  menuInteraction();

  function hideMenus(event) {
    const validation = (event.target.matches('.menu') || event.target.matches('.menu-icon') || event.target.matches('.fa-caret-down'));

    if (!validation) {
      menu.classList.add('inactive')
    } 
  }

  document.onclick = hideMenus;
</script>
