<div id="<%= dom_id commerce %>" class="commerce">
  <p>
    <strong>Nombre:</strong>
    <%= commerce.name %>
  </p>

  <p>Localización</p>
  <p>
    <strong>Estado:</strong>
    <%= commerce.state %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= commerce.city %>
  </p>

  <p>
    <strong>Codigo Postal:</strong>
    <%= commerce.postal_code %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= commerce.address %>
  </p>

  <div class="img-photo">
    <%= image_tag commerce.dni_photo.variant(resize_to_limit: [300, 300]) %>
  </div>

</div>
