<div id="<%= dom_id commerce %>">
  <p>
    <strong>Name:</strong>
    <%= commerce.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= commerce.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= commerce.city %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= commerce.postal_code %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= commerce.address %>
  </p>

  <p>
    <strong>User:</strong>
    <%= commerce.user_id %>
  </p>

</div>
