<div class="product-list">
  <section class="product-filter">
    <div class="filter-list">
      <h2>Categorías</h2>
      <ul>
        <% Category.all.order(:name).map do |category| %>
          <% if @category_selected %>
            <li class="filter-item <%= 'filter-selected' if @category_selected.to_i == category.id %>"><%= link_to category.name, category_filter_path(category: category.name, category_selected: category.id) %></li>
          <% else %>
            <li class="filter-item"><%= link_to category.name, category_filter_path(category: category.name, category_selected: category.id)  %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <img src="https://jcmagazine.com/wp-content/uploads/2019/12/monitor-asus.jpg" alt="ad-1">
  </section>

  <section class="product-cards">
    <div class="product-ads">
      <img src="https://jcmagazine.com/wp-content/uploads/2019/12/monitor-asus.jpg" alt="ad-2">
      <img src="https://jcmagazine.com/wp-content/uploads/2019/12/monitor-asus.jpg" alt="ad-3">
    </div>
    <div>
      <div class="general-filter" >
        <ul id="filter-list" >
          <% if @category_selected %>
            <li class="<%= 'filter-selected' if @filter_selected == '1' %>" ><%= link_to 'Novedades', filter_path(filter: 'date', products_id: @filtered_products.ids.to_a, category_selected: @category_selected, filter_selected: 1) %></li>
            <li class="<%= 'filter-selected' if @filter_selected == '2' %>" ><%= link_to 'Menor costo', filter_path(filter: 'price_lower', products_id: @filtered_products.ids.to_a, category_selected: @category_selected, filter_selected: 2) %></li>
            <li class="<%= 'filter-selected' if @filter_selected == '3' %>" ><%= link_to 'Mayor costo', filter_path(filter: 'price_higher', products_id: @filtered_products.ids.to_a,category_selected: @category_selected, filter_selected: 3) %></li>          
          <% else %>
            <li><%= link_to 'Novedades', filter_path(filter: 'date', products_id: @filtered_products.ids.to_a, category_selected: @category_selected, filter_selected: 1) %></li>
            <li><%= link_to 'Menor costo', filter_path(filter: 'price_lower', products_id: @filtered_products.ids.to_a, category_selected: @category_selected, filter_selected: 2) %></li>
            <li><%= link_to 'Mayor costo', filter_path(filter: 'price_higher', products_id: @filtered_products.ids.to_a,category_selected: @category_selected, filter_selected: 3) %></li>
          <% end %>
        </ul>
        <i class="fa-solid fa-filter" id="filter-icon"></i>
      </div>
      <h2>Productos disponibles</h2>
      <div class="products my-products">
        <% @products.each do |product| %>
          <div class="product-card">
            <%= render 'products/product_card', product: product %>
          </div>
        <% end %>
      </div>
    </div>
    <%== pagy_nav(@pagy) %>
  </section>
</div>
<script>
  function filterInteraction() {
    const filterIcon = document.getElementById('filter-icon')
    const filterList = document.getElementById('filter-list')

    filterIcon.addEventListener('click', ()=> {
      filterList.classList.contains('inactive') ? filterList.classList.remove('inactive') : filterList.classList.add('inactive')
    })
  }
</script>