<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div class="invalid-form alert alert-danger alert-dismissible fade show" role="alert" >
          <strong><span>Ha ocurrido un error:</span></strong><br>
          <aside>
            <% product.errors.each do |error| %>
              <span><%= error.message %></span><br>
            <% end %>
          </aside>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nombre de la publicación' %>
    <%= form.text_field :name, placeholder: 'Ingresa el nombre del producto', required: true %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descripción del producto' %>
    <%= form.text_area :description, placeholder: 'Ingresa un descripción del producto', required: true %>
  </div>

  <div class="field">
    <%= form.label :brand, 'Marca del producto' %>
    <%= form.text_field :brand, placeholder: 'Ingresa la marca del producto', required: true, value: '' %>
  </div>

  <div class="field">
    <%= form.label :model, 'Modelo del producto' %>
    <%= form.text_field :model, placeholder: 'Ingresa el modelo del producto (si aplica)' %>
  </div>

  <div class="field">
    <%= form.label :price, 'Precio del producto' %>
    <%= form.text_field :price, placeholder: 'Ingresa el precio del producto', required: true %>
  </div>

  <div class="field select-field">
     <%= form.label :category_id, 'Seleccione una categoria para el producto' %>
     <% category_array = Category.all.map { |category| [category.name, category.id] } %>
     <%= form.select :category_id, options_for_select(category_array) %>
  </div>

  <div class="field">
    <%= form.label :discount, 'Descuento activo'%>
    <%= form.number_field :discount, value: '0', required: true %>
  </div>

  <span><strong>Subir fotos:</strong></span>
  <div class="file-field">
    <%= form.label :photos do %>
      <% if action_name == 'new' %>
        <%= form.file_field :photos, multiple: true, data: { action:"change->hello#loadFiles" }, class: 'input-file' %>
      <% else %>
        <%= form.file_field :photos, multiple: true, data: { action:"change->hello#loadFiles" }, class: 'input-file' %>
      <% end %>
      <div class="upload photos-field" id="upload">
        <span id="add">+</span>
      </div>
      <div class="photos-bg">
      </div>
    <% end %>
  </div>

  <% if action_name == 'edit' %>
    <span><strong>Fotos actuales:</strong></span>
    <div class="field photos-field photos-delete">
      <% product.photos.each do |photo| %>
        <%= link_to edit_product_path(product, photo_id: photo), class: 'photo' do %>
          <%= image_tag(photo) %>
          <div class="trash-icon">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Guardar' %>
  </div>
<% end %>
