<!DOCTYPE html>
<html>
  <head>
    <title>TechClic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/747117353f.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "partials/navbar" %>
    <main class="container">
      <%= yield %>
    </main>
    <%= render "partials/footer" %>
  </body>
</html>
